.question .row {
	border-bottom: 1px solid #f0f0f0;
}
.question .row .row {
	border-bottom: none;
}
.question .errorMessage {
	color: #ff0000;
	font-size: 13px;
}

.assessment .timer span {
	font-size: 13px;
	font-weight: normal;
}